<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655414423289-on45em8eqeheb7eevi04se0tkocq7vbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655414423289-on45em8eqeheb7eevi04se0tkocq7vbq</string>
	<key>API_KEY</key>
	<string>AIzaSyDp8O0-3r7-xkw2772rGliK07yecKI3XHE</string>
	<key>GCM_SENDER_ID</key>
	<string>655414423289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orn.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-18ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-18ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655414423289:ios:4e56235582562144197c28</string>
</dict>
</plist>